<form action="{{ path('admin.model.delete', {id: model.id}) }}" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprrimer ce modèle ?')">
    <input type="hidden" name="token" value="{{ csrf_token('delete' ~ model.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>