{% extends 'base.html.twig' %}

{% block title %}
    Modification d'une marque
{% endblock %}

{% block body %}
    <h1>Modification d'une marque</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Modifier</button>
    {{ form_end(form) }}
{% endblock %}