{% extends 'base.html.twig' %}

{% block title %}
    Administration des images produit
{% endblock %}

{% block body %}
    <section class="container mt-2">
        <h1 class="text-center">Administration des images produit </h1>
        <table class="mt-4">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>ID Produit</td>
                    <td>Nom Image</td>
                    <td>Taille Image</td>
                </tr>
            </thead>  
            <tbody>
                {% for productimage in productimage %}
                    <tr>
                        <td>{{ productimage.id }}</td>
                        <td>{{ productimage.productId }}</td>
                        <td>{{ productimage.imageName }}</td>
                        <td>{{ productimage.imageSize }}</td>
                    </tr>
                {% endfor %}
            </tbody>  
        </table>
    </section>
    

{% endblock %}
